@import "./utils/variables";
@import "./base/base";
@import "./components/composants";
@import "./layouts/layouts";
@import "./pages/pages";

.img-princ {
  height: 30rem;
  &--palette {
    background-image: url(../images/restaurants/palette_du_gout.jpg);
    background-size: 110%;
    background-position: top;
  }
  &--note {
    background-image: url(../images/restaurants/note_enchantee.jpg);
    background-size: cover;
    background-position: center 45%;
  }
  &--francaise {
    background-image: url(../images/restaurants/a_la_francaise.jpg);
    background-size: cover;
    background-position: center;
  }
  &--delice {
    background-image: url(../images/restaurants/delice_des_sens.jpg);
    background-size: 105%;
    background-position: top;
  }
}

.menu {
  background-color: $color-fond;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding: 3.5rem 2rem 2rem;
  position: relative;
  bottom: 4.5rem;
  &__titre {
    display: flex;
    justify-content: space-between;
    .far {
      font-size: 2.9rem;
      padding-right: 2rem;
      padding-top: 0.7rem;
    }
  }
  &__assortiment h4 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.9rem;
    margin-bottom: 3rem;
    margin-top: 3.5rem;
  }
  &__plat {
    height: 5rem;
    padding: 1.4rem 2.7rem 1.4rem 1.2rem;
    border-radius: 1.7rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    box-shadow: $shadow;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    &--taille1 {
      font-size: $small;
      font-family: "Roboto-medium";
    }
    &--taille2 {
      font-size: 1.7rem;
    }
    span:nth-child(2) {
      font-size: 1.8rem;
      font-family: "Roboto-medium";
      font-weight: bold;
    }
    div {
      display: flex;
      justify-content: space-between;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    padding-top: 5.5rem;
  }
}
