@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./components/composants";
@import "./layouts/layouts";
@import "./pages/pages";

/*.loader {
  height: 100%;
  width: 100%;
  background-image: linear-gradient($color-1, $color-2);
  z-index: 1;
  position:absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}*/