@keyframes plat {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes coche {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes coche-retour {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes no-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes decalage {
  0% {
    padding-right: 2.7rem;
  }
  100% {
    padding-right: 25%;
  }
}

@keyframes decalage-retour {
  0% {
    padding-right: 25%;
  }
  100% {
    padding-right: 2.7rem;
  }
}

@keyframes coeur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0%, 60% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    transform: translateX(5000px);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
