/*section "Menu"*/
@keyframes plat {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes coche {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes coche-retour {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes no-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes decalage {
  0% {
    padding-right: 2.7rem;
  }
  100% {
    padding-right: 25%;
  }
}
@keyframes decalage-retour {
  0% {
    padding-right: 25%;
  }
  100% {
    padding-right: 2.7rem;
  }
}
@keyframes coeur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0%, 60% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    transform: translateX(5000px);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #f6f6f6;
}

@font-face {
  font-family: "Roboto-medium";
  src: url(../fonts/roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-light";
  src: url(../fonts/roboto/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url(../fonts/shrikhand/Shrikhand-Regular.ttf) format("truetype");
}
* {
  font-family: "Roboto-light";
}

.bold, h2, .btn, .number {
  font-family: "Roboto-medium";
}

h1 {
  font-family: "Shrikhand";
  font-size: 3.2rem;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h2 {
  font-size: 2.9rem;
}

a {
  color: black;
  text-decoration: none;
}

.btn {
  height: auto;
  width: fit-content;
  padding: 1.8rem 2.5rem;
  border-radius: 3rem;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-size: 2rem;
  color: white;
  border: transparent;
  box-shadow: 2px 2px 10px #c3c3c3;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.btn:hover .btn__bg {
  opacity: 1;
}
.btn__bg {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 4px 4px 10px #c3c3c3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 3rem;
  transition: opacity 250ms ease-in-out;
}

#btn-commander {
  padding: 1.8rem 5.5rem;
}

header {
  height: 7rem;
  text-align: center;
  position: relative;
  background: white;
}
header img {
  width: 19rem;
  margin-top: 2.3rem;
}
header.shadow {
  box-shadow: 2px 2px 4px #c3c3c3;
}
header .btn-retour {
  position: absolute;
  left: 2.6rem;
  top: 2.5rem;
  background: transparent;
  border: none;
  font-size: 2.2rem;
}

footer {
  padding: 3rem;
  background-color: #353535;
  color: white;
}
footer img {
  filter: invert(100%);
  width: 12rem;
  height: auto;
}
footer ul {
  list-style-type: none;
  padding: 0;
  font-size: 2rem;
}
footer ul li {
  font-size: 2rem;
}
footer ul li:not(:last-child) {
  margin-bottom: 1rem;
}
footer ul .fas {
  padding-right: 2rem;
}
footer ul .fa-utensils {
  font-size: 1.5rem;
}
footer ul .fa-hands-helping {
  font-size: 1.1rem;
}

.img-princ {
  height: 30rem;
}
.img-princ--palette {
  background-image: url(../images/restaurants/palette_du_gout.jpg);
  background-size: 110%;
  background-position: top;
}
.img-princ--note {
  background-image: url(../images/restaurants/note_enchantee.jpg);
  background-size: cover;
  background-position: center 45%;
}
.img-princ--francaise {
  background-image: url(../images/restaurants/a_la_francaise.jpg);
  background-size: cover;
  background-position: center;
}
.img-princ--delice {
  background-image: url(../images/restaurants/delice_des_sens.jpg);
  background-size: 105%;
  background-position: top;
}

.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding: 3.5rem 2rem 2rem;
  position: relative;
  bottom: 4.5rem;
}
.menu__titre {
  display: flex;
  justify-content: space-between;
}
.menu__titre .far {
  font-size: 2.9rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
}
.menu__titre #coeur_couleur {
  bottom: 1rem;
  right: -0.2rem;
}
.menu__assortiment h4 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.9rem;
  margin-bottom: 2.8rem;
  margin-top: 3.5rem;
  position: relative;
}
.menu__assortiment h4::before {
  content: "";
  width: 5rem;
  height: 0.3rem;
  background-color: #99E2D0;
  position: absolute;
  top: 2.9rem;
}
.menu__plat {
  height: 5rem;
  width: auto;
  padding: 1.4rem 2.7rem 1.4rem 1.2rem;
  border-radius: 1.7rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 10px #c3c3c3;
  animation: plat 600ms cubic-bezier(0, 0, 0.42, 0.99) both;
  cursor: pointer;
}
.menu__plat--num1 {
  animation-delay: 200ms;
}
.menu__plat--num2 {
  animation-delay: 400ms;
}
.menu__plat--num3 {
  animation-delay: 600ms;
}
.menu__plat--num4 {
  animation-delay: 800ms;
}
.menu__plat:not(:last-child) {
  margin-bottom: 2rem;
}
.menu__plat--taille1 {
  font-size: 2rem;
  font-family: "Roboto-medium";
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__plat--taille2 {
  font-size: 1.7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__plat span:nth-child(2) {
  font-size: 1.8rem;
  font-family: "Roboto-medium";
  font-weight: bold;
  margin-left: 1.3rem;
}
.menu__plat div {
  display: flex;
  justify-content: space-between;
}
.menu__plat--selection {
  width: 20%;
  height: 100%;
  background-color: #99E2D0;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
}
.menu__plat--decalage {
  display: inline-block;
  transform-origin: left;
}
.menu__plat:active, .menu__plat:hover {
  animation: decalage 600ms both;
}
.menu__plat:active .menu__plat--selection, .menu__plat:hover .menu__plat--selection {
  animation: coche 600ms both;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
}
.menu__plat:active i, .menu__plat:hover i {
  animation: rotation 600ms both;
}
.menu__plat:not(:hover) {
  animation: decalage-retour 600ms 200ms both;
}
.menu__plat:not(:hover) .menu__plat--selection {
  animation: coche-retour 600ms 200ms both;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
}
.menu__btn {
  display: flex;
  justify-content: center;
  padding-top: 5.5rem;
}

/*Page d'accueil*/
.load {
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  animation: loader 3s both;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load .fa-utensils {
  color: #9356DC;
  font-size: 7rem;
  animation: scale 450ms ease-in-out infinite alternate-reverse;
}

.localisation {
  height: 6rem;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #252525;
}
.localisation .fas {
  position: relative;
  right: 1.9rem;
}

.en-tete {
  height: 20rem;
  padding: 4rem 0 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.en-tete h2 {
  padding: 0 7rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.en-tete p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.fonctionnement {
  padding: 7rem 2rem 7rem 3rem;
  background: white;
}
.fonctionnement h2 {
  margin-bottom: 4rem;
  margin-left: -1rem;
}
.fonctionnement__vignette {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 9rem;
  background-color: #f6f6f6;
  border-radius: 2.5rem;
  box-shadow: 2px 2px 10px #c3c3c3;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .fonctionnement__vignette {
    width: 30%;
  }
}
.fonctionnement__vignette:last-child .fas {
  color: #9356DC;
}
.fonctionnement__vignette:not(:last-child) {
  margin-bottom: 3rem;
}
.fonctionnement__vignette .fas {
  font-size: 2.5rem;
  color: #4e4d4d;
  padding-right: 3rem;
}
.fonctionnement__vignette .bold {
  padding-right: 6rem;
}
.fonctionnement__vignette .number {
  padding: 0.4rem 0.9rem;
  background-color: #9356DC;
  color: white;
  border-radius: 5rem;
  font-size: 1.7rem;
  position: absolute;
  left: -1.3rem;
}

@media screen and (min-width: 1000px) {
  .fonctionnement__cases {
    display: flex;
    justify-content: space-between;
  }

  .restos__cases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restos a {
    width: 49%;
  }
  .restos__vignette {
    width: 100%;
  }
}
.restos {
  padding: 7rem 2rem;
  background-color: #f6f6f6;
}
.restos h2 {
  margin-bottom: 3.3rem;
}
.restos__vignette {
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 2px 2px 10px #c3c3c3;
}
.restos__vignette__img {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.restos__vignette__img p {
  display: inline-block;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  padding: 0.7rem 1.4rem;
  background-color: #99E2D0;
  font-size: 1.8rem;
  color: #278870;
  border-radius: 0.3rem;
}
.restos__vignette__palette {
  background-image: url(../images/restaurants/palette_du_gout.jpg);
}
.restos__vignette__note {
  background-image: url(../images/restaurants/note_enchantee.jpg);
  background-position: center 61%;
}
.restos__vignette__francaise {
  background-image: url(../images/restaurants/a_la_francaise.jpg);
}
.restos__vignette__delice {
  background-image: url(../images/restaurants/delice_des_sens.jpg);
}
.restos__vignette__desc {
  background-color: white;
  padding: 2rem 3.5rem 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
}
.restos__vignette__desc h3 {
  font-size: 2.2rem;
  margin-bottom: 0.4rem;
}
.restos__vignette__desc p {
  font-size: 2.2rem;
}
.restos__vignette__desc .fa-heart {
  font-size: 3rem;
  display: inline-block;
}
.restos__vignette__coeur {
  position: relative;
}
.restos__vignette__coeur i:nth-child(2) {
  font-weight: bold;
  font-size: 3.3rem;
}
.restos__vignette__coeur--bg {
  background: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 2.3rem;
  right: -0.1rem;
  font-weight: bold;
  opacity: 0;
  z-index: 0;
  transition: opacity 600ms;
}
.restos__vignette__coeur--bg:hover, .restos__vignette__coeur--bg:active {
  opacity: 1;
}

a:not(:last-child) .restos__vignette {
  margin-bottom: 2rem;
}

/*.loader {
  height: 100%;
  width: 100%;
  background-image: linear-gradient($color-1, $color-2);
  z-index: 1;
  position:absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}*/

/*# sourceMappingURL=style.css.map */
