header {
  height: 7rem;
  text-align: center;
  position: relative;
  background: white;
  img {
    width: 19rem;
    margin-top: 2.3rem;
  }
  &.shadow {
    box-shadow: 2px 2px 4px $color-shadow;
  }
  .btn-retour {
    position: absolute;
    left: 2.6rem;
    top: 2.5rem;
    background: transparent;
    border: none;
    font-size: 2.2rem;
  }
}

footer {
  padding: 3rem;
  background-color: #353535;
  color: white;
  a {
    color: white;
  }
  img {
    filter: invert(100%);
    width: 12rem;
    height: auto;
  }
  ul {
    list-style-type: none;
    padding: 0;
    font-size: $small;
    li {
      font-size: $small;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    .fas {
      padding-right: 2rem;
    }
    .fa-utensils {
      font-size: 1.5rem;
    }
    .fa-hands-helping {
      font-size: 1.1rem;
    }
  }
}

.img-princ {
  height: 30rem;
  &--palette {
    background-image: url(../images/restaurants/palette_du_gout.jpg);
    background-size: 110%;
    background-position: top;
  }
  &--note {
    background-image: url(../images/restaurants/note_enchantee.jpg);
    background-size: cover;
    background-position: center 45%;
  }
  &--francaise {
    background-image: url(../images/restaurants/a_la_francaise.jpg);
    background-size: cover;
    background-position: center;
  }
  &--delice {
    background-image: url(../images/restaurants/delice_des_sens.jpg);
    background-size: 105%;
    background-position: top;
  }
}
@media screen and (min-width:$big-screen) {
  .img-princ {
    height: 40rem;
    &--palette {
      background-size: 100%;
      background-position: center;
    }
    &--note {
      background-position: center 60%;
    }
    &--francaise {
      background-position: center 65%;
    }
    &--delice {
      background-size: cover;
      background-position: center 80%;
    }
  }
}

.menu {
  background-color: $color-fond;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding: 3.5rem 2rem 2rem;
  position: relative;
  bottom: 4.5rem;
  @media screen and (min-width:$big-screen) {
    &__cases {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__assortiment {
      width: 48%;
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }
  }
  &__titre {
    display: flex;
    justify-content: space-between;
    .far {
      font-size: 2.9rem;
      padding-right: 2rem;
      padding-top: 0.7rem;
    }
    #coeur_couleur {
      bottom: 1rem;
      right: -0.2rem;
    }
  }
  &__assortiment h4 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.9rem;
    margin-bottom: 2.8rem;
    margin-top: 3.5rem;
    position: relative;
    &::before {
      content: "";
      width: 5rem;
      height: 0.3rem;
      background-color: $color-3;
      position: absolute;
      top: 2.9rem;
    }
  }
  &__plat {
    width: auto;
    border-radius: 1.7rem;
    background-color: white;
    box-shadow: $shadow;
    animation: plat $anim-dur cubic-bezier(0, 0, 0.42, 0.99) both;
    cursor: pointer;
    @for $i from 1 through $num-plat {
      &--num#{$i} {
        animation-delay: $anim-delay * $i;
      }
    }
    &--animation {
      padding: 1.4rem 2.7rem 1.4rem 1.2rem;
      height: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
      border-radius: 1.7rem;
      .menu__plat--selection {
        opacity: 0;
      }
      &:active,
      &:hover {
        animation: decalage $anim-dur both;
        .menu__plat--selection {
          animation: coche $anim-dur both;
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3rem;
          color: white;
        }
        i {
          animation: rotation $anim-dur both;
        }
      }
      &:not(:hover) {
        animation: decalage-retour $anim-dur $anim-delay backwards;
        .menu__plat--selection {
          animation: coche-retour $anim-dur $anim-delay backwards;
          transition: opacity $anim-dur $anim-delay;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3rem;
          color: white;
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    &--taille1 {
      font-size: $small;
      font-family: "Roboto-medium";
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &--taille2 {
      font-size: 1.7rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    span:nth-child(2) {
      font-size: 1.8rem;
      font-family: "Roboto-medium";
      font-weight: bold;
      margin-left: 1.3rem;
    }
    div {
      display: flex;
      justify-content: space-between;
    }
    &--selection {
      width: 20%;
      height: 100%;
      background-color: $color-3;
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
    }
    &--decalage {
      display: inline-block;
      transform-origin: left;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    padding-top: 5.5rem;
  }
}
