/*Page d'accueil*/

.load {
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  animation: loader 3s both;
  display: flex;
  justify-content: center;
  align-items: center;
  .fa-utensils {
    color: $color-1;
    font-size: 7rem;
    animation: scale 600ms ease-in-out infinite alternate-reverse;
  }
}

.localisation {
  height: 6rem;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: rgb(37, 37, 37);
  .fas {
    position: relative;
    right: 1.9rem;
  }
}

.en-tete {
  height: 20rem;
  padding: 4rem 0 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-fond;
  h2 {
    padding: 0 7rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
  }
}

.fonctionnement {
  padding: 7rem 2rem 7rem 3rem;
  background: white;
  h2 {
    margin-bottom: 4rem;
    margin-left: -1rem;
  }
  &__vignette {
    font-size: $small;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9rem;
    background-color: $color-fond;
    border-radius: 2.5rem;
    box-shadow: $shadow;
    position: relative;
    &:last-child .fas {
      color: $color-1;
    }
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    .fas {
      font-size: 2.5rem;
      color: rgb(78, 77, 77);
      padding-right: 3rem;
    }
    .bold {
      padding-right: 6rem;
    }
    .number {
      padding: 0.4rem 0.9rem;
      background-color: $color-1;
      color: white;
      border-radius: 5rem;
      font-size: 1.7rem;
      position: absolute;
      left: -1.3rem;
    }
  }
}
@media screen and (min-width: $big-screen) {
  /*.fonctionnement__cases {
    display: flex;
    justify-content: space-between;
    .fonctionnement__vignette {
      width: 30%;
    }
  }*/
  .restos {
    &__cases {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .restos__vignette {
      width: 49%;
      &:last-child {
        margin-bottom: 2rem;
      }
    }
  }
}

.restos {
  padding: 7rem 2rem;
  background-color: $color-fond;
  h2 {
    margin-bottom: 3.3rem;
  }
  &__vignette {
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: $shadow;
    &__img {
      width: 100%;
      height: 20rem;
      overflow: hidden;
      background-size: cover;
      background-position: bottom;
      position: relative;
      p {
        display: inline-block;
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        padding: 0.7rem 1.4rem;
        background-color: $color-3;
        font-size: 1.8rem;
        color: darken($color-3, 40%);
        border-radius: 0.3rem;
      }
    }
    &__palette {
      background-image: url(../images/restaurants/palette_du_gout.jpg);
    }
    &__note {
      background-image: url(../images/restaurants/note_enchantee.jpg);
      background-position: center 61%;
    }
    &__francaise {
      background-image: url(../images/restaurants/a_la_francaise.jpg);
    }
    &__delice {
      background-image: url(../images/restaurants/delice_des_sens.jpg);
    }
    &__desc {
      background-color: white;
      padding: 2rem 3.5rem 2rem 1.5rem;
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: 2.2rem;
        margin-bottom: 0.4rem;
      }
      p {
        font-size: 2.2rem;
      }
      & .fa-heart {
        font-size: 3rem;
        display: inline-block;
      }
    }
    &__coeur {
      i:nth-child(2) {
        font-weight: bold;
        font-size: 3.3rem;
      }
      position: relative;
      &--bg {
        background: linear-gradient(to top, $color-2, $color-1);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        bottom: 2.3rem;
        right: -0.1rem;
        font-weight: bold;
        opacity: 0;
        z-index: 0;
        transition: opacity 600ms;
        &:hover,
        &:active {
          opacity: 1;
        }
      }
    }
  }
}
.restos__vignette:not(:last-child) {
  margin-bottom: 2rem;
}
